footer 
{
    display: flex;
    justify-content: space-around;
    min-height: 13rem;
    background-color: #495e57;
}
.footer 
{
  display: flex;
  justify-content: space-around;

}
.logowhite
{ 
  max-width: 60px;
  margin-top: 20px;
  margin-right: 4rem;
}
.footer-links
{
  display: block;
  list-style-type: none;

}
.contact
{
  color: white;
  margin-right: 1rem;
}
.contact h1{
  color:#F4CE14 ;
}
.adress
{
  color:white ;
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
}
.footer-header
{
  color:#F4CE14 ;
  text-align: center;

}
.adress ul 
{
  text-align: center;
  align-items: center;
}
.social-media
{
text-align: center;
margin-left: 1rem;
margin-right: 1rem;
}
.social-media li  
{
  color :white;
  text-decoration: none;
}
 

